* {
  box-sizing: border-box;
}

body {
  border-color: #f6f6f6;
  font : {
    family: Tahoma, Arial;
    size: 16px;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
